[Unit]
Description=Avahi-Backup Client (Announcements)

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/sbin/avahi-backup.sh backup-client

[Install]
After=avahi-daemon.service
WantedBy=multi-user.target